@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

html, body {
	height: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
}

a, a:hover {
	color: #333;
	text-decoration: none !important;
}

h1, h3 {
	font-family: 'Quattrocento', serif;
}

header {
	height: 65%;
	 background: url('../img/back.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header h1 {
	color: #fff;
	margin-top: 20%;
}


main {
	height: auto;
	background: #ecf0f1;
	padding-bottom: 70px;
}

.span4 {
	text-align: center;
}

.circle {
	width: 100px;
	height: 100px;
	background: #1abc9c;
	border-radius: 100px;
	margin: 0 auto;
	transition: all 1.5s;
}

.circle:hover {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg); /* IE 9 */
	-webkit-transform:rotate(360deg); /* Opera, Chrome, and Safari */
}

.circle:hover > i {
	color: #c0392b;
}

.circle i {
	line-height: 100px;
}

.block h3 {
	padding-top: 10px;
	font-size: 34px;
	transition: all 1.5s;
}

h1, h3 {
	text-align: center;
}

