@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header {
	background-image: url('../img/back-orange.jpg');
	background-size: 100%;
	padding-bottom: 250px;
}

h1.page-head {
	margin-top: 185px;
	color: #fff;
	text-transform: uppercase;
	line-height: 50px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

.header {
	padding: 0 10px;
	background-color: rgba(0,0,0,0.5);
}

h1.main-header {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

h3.page-subhead {
	padding-top: 50px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

div.feature {
	padding: 80px;
}

div#iphone {
	background-image: url('../img/phone.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 424px;
	width: 200px;
	margin-top: 170px;
}

div#iphone img {
	width: 84%;
	height: 71%;
	margin-top: 62px;
	margin-left: 16px;
}

#features {
	border-top: 1px solid black;
	box-shadow: inset 0 0 10px #000000;
	background: #2A2C39;
	color: #fff;
	padding-bottom: 20px;
}

h2.section-header {
	text-align: center;
	margin-top: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	border-bottom: 2px solid #fff;
}

h2.section-header span {
	background: #2A2C39;
	position: relative;
	top: 20px;
	padding: 0 25px;
}

div.blocks-container {
	margin-top: 20px;
}

.block {
	padding: 30px;
	text-align: center;
}

.icon:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: 1s all ease-in-out;
}
	
.icon {
	padding: 10px;
	background: #FF3300;
	width: 60px;
	margin: 0 auto;
	border-radius: 60px;
}

.block p {
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13.5px;
}

#social-icons {
	background: #e4e4da;
	padding-top: 30px;
	padding-bottom: 30px;
}

.social-block {
	padding: 20px;
}

div.span3.social-block div  {
	width: 32px;
	height: 57px;
	margin: 0 auto;
}

.social-block div i {
	margin: 0 auto;
	text-align: center;
}

.social-block div a {
	text-decoration: none;
	color: #333;
}

.social-block div a:hover {
	color: #005580;
}

.btn-white {
	border: 3px solid #fff;
	color: #fff;
	margin-top: 50px;
}

.countdown-styled {
	margin-top: 300px;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

.countdown-styled div {
  display: inline-block;
  margin: 0 20px 1em;
  font-size: 70px;
  font-weight: 100;
  line-height: 1;
  text-align: right;

  /* IE7 inline-block hack */
  *display: inline;
  *zoom: 1;
}

.countdown-styled div:first-child {
  margin-left: 0;
}

.countdown-styled div:last-child {
  margin-right: 0;
}

.countdown-styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 10px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  font-weight: 300;
}