@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);


* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

section {
	height: auto;
	margin-bottom: 64px;
}

/*GENERAL TYPE STYLES*/
body {
	font-family: 'Quattrocento Sans', sans-serif;
}

h3 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	color: #ba3925;
	font-family: 'Quattrocento', serif;
}

section h1 {
	line-height: 80px;
	font-family: 'Quattrocento', serif;
}

p {
	text-align: justify;
	hyphens: auto;
}

/*END GENERAL TYPE STYLES*/

nav {
	width: 0;
	float: left;
	background: url("../img/back-blue.png");
	height: 100%;
	position: fixed;
	-webkit-transition: all 2.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

nav .menu-container {
	padding: 20px;
}

nav h3 {
	border-bottom: 0;
	font-size: 40px;
}

nav a {
	color: white;
	text-decoration: underline;
	font-size: 20px;
	margin-top: 40px;
}

nav * {
	display: none;
}

header {
	//position: fixed;
	//top: 0;
	width: 100%;
	height: 56px;
	background: #001F3D;
    background: url('../img/back-blue.png');
}

header a {
	color: white;
	text-decoration: none;
	line-height: 56px;
	float: right;
	margin-left: 60px;
}

header a:hover {
	color: white;
}

header a:active {
	color: #ba3925;
}

header a:focus {
	color: #ba3925;
}

section#header {
	/*background: url('../img/Hill.jpg') 0 30% no-repeat;*/
	background: url('../img/Hill.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    /*background-size: 100%;*/
    height: 100%;
    margin-bottom: 0;
    height: 100%;
}

section#header img {
	display: block;
	margin: 0 auto;
	width: 7%;
	position: absolute;
	bottom: 30px;
	right: 47%;
}

h1.page-head {
	margin-top: 15%;
	color: #FFF;
	text-transform: none;
	line-height: 100px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 85px;
    text-align: center;
    margin-bottom: 200px;
    position: inherit;
    font-weight: 300;
}

.header {
	padding: 0 10px;
	background-color: rgba(0,0,0,0.5);
    padding-bottom: 500px;
}

section#about {
	height: 100%;
}

img#img-watts-cupola {
	margin-top: 60px;
}

.row-fluid .span3 {
	width: 22.5%;
	margin-left: 0;
}

.person-block * {
	display: block;
	margin: 0 auto;
}

.person-block img {
	width: 120px;
}

.person-block p {
	padding-top: 10px;
	text-align: center;
}

.person-block em {
	display: block;
}

section#cte header {
	background: #013806;
	background: url('../img/back-green.png');
}

section#cte {
	height: auto;
}

section#cte .span6:nth-child(odd) p {
	padding-right: 20px;
}

section#tsa {
	height: 100%;
}

section#tsa header {
	background: #4A0B07;
	background: url('../img/back-red.jpg');
}

@media all and (max-width: 1200px) {
    h1.page-head {
    	margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .block p {
        width: 100%;
    }

    h1.page-head {
    	margin-top: 0;
    }
}

@media (max-width: 768px) {
	section#about, section#cte, section#tsa {
		height: auto;
	}

	section#about div.person-block {
		float: left;
		margin: 0 30px;
	}

	header div.span5.pull-right {
		display: none;
	}

	header div.span1 a {
		float: right;
		margin-right: 25px;
		font-size: 20px;
	}

	header div.span1 a:hover {
		text-decoration: none;
	}
}